@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 1, 3;
  --background-end-rgb: 5, 1, 3;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050103;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
